@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root {
    --bg-color: #101c24;
    --typewriterSpeed: 4s;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: var(--bg-color);
    margin-bottom: 50px;
}

/*
    style for top navigation bar 
*/

nav {
    width: 100%;
    height: 75px;
    background-color: var(--bg-color);
    line-height: 75px;
    padding: 0 100px;
    position: relative;
    z-index: 1;
}

nav .logo {
    font-size: 30px;
    font-weight: bold;
}

nav .logo p {
    float: left;
    color: white;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 32px;
}

nav ul li a:hover {
    color: gray;
}

nav ul li a.active {
    color: gray;
}

/*
    style for index.html page 
*/

.container {
    position: relative;
    width: auto;
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    display: inline-block;
    align-items: center;
    z-index: 5;
}

.type {
    font-size: 40px;
    overflow: hidden;
    border-right: .125em solid orange;
    white-space: nowrap;
    animation: typing 2s steps(24, end) forwards, blinking .75s infinite;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: transparent }
    to { border-color: skyblue; }
}

.brief-info {
    position: relative;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 750px;
}

.brief-info .me {
    position: absolute;
    color: white;
    font-size: 20px;
    line-height: 35px;
    animation: fadeIn 3s;
    z-index: 4;
}

.circle {
    position: absolute;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 225px;
    background-color: #142733;
    z-index: 1;
}

.circle {
    position: absolute;
    width: 550px;
    border-radius: 50%;
    margin-top: -175px;
    margin-left: 200px;
    background-color: #142733;
    z-index: 1;
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%,94.45% 57.04%,97.55% 65.45%,90.10% 70.43%,90.45% 79.39%,81.82% 81.82%,79.39% 90.45%,70.43% 90.10%,65.45% 97.55%,57.04% 94.45%,50.00% 100.00%,42.96% 94.45%,34.55% 97.55%,29.57% 90.10%,20.61% 90.45%,18.18% 81.82%,9.55% 79.39%,9.90% 70.43%,2.45% 65.45%,5.55% 57.04%,0.00% 50.00%,5.55% 42.96%,2.45% 34.55%,9.90% 29.57%,9.55% 20.61%,18.18% 18.18%,20.61% 9.55%,29.57% 9.90%,34.55% 2.45%,42.96% 5.55%,50.00% 0.00%,57.04% 5.55%,65.45% 2.45%,70.43% 9.90%,79.39% 9.55%,81.82% 18.18%,90.45% 20.61%,90.10% 29.57%,97.55% 34.55%,94.45% 42.96%);
  }

.background {
    position: absolute;
    width: 560px;
    height: 425px;
    margin-left: -30px;
    margin-top: -15px;
    background-color: skyblue;
    z-index: 2;
}

.box {
    position: absolute;
    width: 575px;
    height: 425px;
    margin-left: -15px;
    background-color: rgb(14, 38, 46);
    z-index: 3;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.shaz-index {
    position: absolute;
    margin-top: -75px;
    margin-left: 850px;
    z-index: 6;
    height: 65%;
    box-shadow: 15px 15px 5px #26282A;
}

.break {
    margin: 550px 250px 0 250px;
    opacity: 50%;
}

/*
    style for about.html
*/

.about {
    position: absolute;
    margin: 75px 600px 150px 150px;
    color: white;
    line-height: 25px;
}

.about h2 {
    font-size: 35px;
}

.about p {
    margin-top: 25px;
}

.shaz-about {
    position: absolute;
    margin-top: 140px;
    margin-left: 900px;
    height: 65%;
    box-shadow: 15px 15px skyblue;
}

/*
    style for project.html page 
*/

.project-info {
    position: fixed;
    margin-top: 150px;
    margin-left: 150px;
}

.project-info h2 {
    color: white;
    font-size: 35px;
}

.project-list {
    margin-top: 25px;
    color: white;
    list-style: none;
}

.status {
    margin-top: 25px;
    color: white;
    font-size: 20px;
}

.link {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*
    style for socials 
*/

.wrapper {
    width: 100%;
    position: fixed;
    bottom: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.wrapper .button {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 60px;
    margin: 0 25px;
    overflow: hidden;
    background: #fff;
    opacity: 75%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
    opacity: 100%;
}



.wrapper .button .icon {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #0b66c2;
}

.wrapper .button:nth-child(2):hover .icon{ 
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #0b66c2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: red;
}