@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root {
    --bg-color: #101c24;
    --typewriterSpeed: 4s;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: var(--bg-color);
}

nav {
    width: 100%;
    height: 75px;
    background-color: var(--bg-color);
    line-height: 75px;
    padding: 0 100px;
    position: fixed;
    z-index: 1;
}

nav .logo {
    font-size: 30px;
    font-weight: bold;
}

nav .logo p {
    float: left;
    color: white;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 32px;
}

nav ul li a:hover {
    color: gray;
}

nav ul li a.active {
    color: gray;
}

.socials {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials i {
    margin: 0 50px 25px;
}

.container {
    position: fixed;
    width: auto;
    margin-top: 250px;
    margin-left: 150px;
    color: white;
    display: flex;
    align-items: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
}

.container h1::before,
.container h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container h1::before {
    background-color: var(--bg-color);
    animation: 
        typewriter var(--typewriterSpeed) steps(27) 500ms forwards;
        
}

.container h1::after {
    width: .125em;
    background: orange;
    animation: 
        typewriter var(--typewriterSpeed) steps(27) 500ms forwards,
        blink 750ms steps(27) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.link {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.wrapper {
    width: 100%;
    position: fixed;
    bottom: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .button {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 60px;
    margin: 0 25px;
    overflow: hidden;
    background: #fff;
    opacity: 75%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
    opacity: 100%;
}



.wrapper .button .icon {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #0b66c2;
}

.wrapper .button:nth-child(2):hover .icon{ 
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #0b66c2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}
